*{
    color: white;
    font-family: 'Lato', sans-serif;
    
}

html {
    background-image: url(./public/bkgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
}

div.inline-block {
    display: inline-block;
}

nav.inline-block {
    display: flex;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 50%;
    margin-left: auto;
    list-style-type: none;
    word-spacing: 10px;

}

nav.ul {
    list-style-type: none;
}

.logo {
    width: 23%;
    padding: 1%;
}

.nav {
    width: 73%;
    padding: 1%;
 }


 img.logo {
    text-align: center;
 }

 .heroImg {
    padding: 25px;

 }

 .content {
    width: 500px;
    margin: 0 auto;
 }

 button {
    background-color: #9c9c9c;
    border: solid 1px #ffffff;
    color: #4c4c4c;
 }


 footer {
    padding: 2% 3% 1% 6%;
    vertical-align: bottom;
}

/* ____myUXSkills CSS____ */

h1{
    padding: 5%;
    text-align: center;
}

.flexContainer {
    display: flex;
    width: 100%;
}

.skill {
    width: 33%;
    padding: 3%;
}

h3 {
    text-align: center;
}

.uxDesIm {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.logoDes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.photoEd {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ____MyWork CSS____ */

.turleReDes {

    align-items: center;
    margin-left: 10%;
}

.workGrid {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 75%;
    padding: 10%;
    gap: 5%;
}

@media screen and (max-width: 600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .div.flexContainer {
        width: 100%;
    }

    .workGrid {
        grid-template-rows: 300px 300px;
        grid-template-columns: 0fr;
        grid-template-areas: 
        "turtle turtle"
        "sound sound"
        ;
    }
}